* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.3s ease-out;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hidden {
    display: none;
}

html {
    overflow-x: hidden;
    width: 100vw;
    background: linear-gradient(rgb(44, 74, 22), white);
}
fieldset{
    display: block;
    margin: 0 40%;
    background-color: rgba(15, 88, 15, 0.5) ;
    backdrop-filter: blur(5px);
    margin-bottom: 20px;

}
legend{
    font-size: 150%;
    color: rgb(214, 186, 28);
    font-weight:bold;
    display: block;
    margin:0 auto;
}
p{
  color: rgb(39, 39, 39);
  font-weight: 600;
  margin: 20px 5px;  
}
label{
    color: rgb(214, 186, 28);
    font-weight: 600;


}
textarea{
    margin: 10px 50px ;
    width: 250px;
}
.form-group{
    margin: 10px;
}
input{
    display: block;
    margin: 10px 50px;
    width: 250px
}
input[type="submit"]{
    background-color: rgb(214, 186, 28);
    margin: 50px 63px;
    color: black;
    font-weight: 600;
    font-size: 80%;
    width: 70%;
    padding: 10px ;
}
------------------------
header {
    position: relative;
    background-color: rgb(44, 74, 22);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  
  .logo {
    display: flex;
    position: relative;
    height: 100px;
    width: 100px;
    left: 1rem;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  #sideNav {
    margin: 10px 5%;
    padding: 15px 10px;
    height: 50px;
    border-radius: 5px;
  }
  
  #sideNav a.top-link {
    font-size: larger;
    margin: 20px;
  }
  #btn{
    color: rgb(255, 255, 255);
    padding: 8px;
    margin: 20px;
    background-color: rgba(186, 186, 78, 0.662);
    font-size: larger;
  }
  #sideNav a.top-link:hover{
    border-bottom: 3px solid #063b22;
    border-radius:1.5px
  
  }
  #btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(127, 127, 54, 0.662);
  
  }
  #sideNav a.top-link:visited{
    color: white;
  }
  .header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }



